name: Open PR check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      # Переключение на выбранную при запуске action ветку и скачивание файлов в окружение.
      - name: Checkout
        uses: actions/checkout@v3

      # Установка зависимостей.
      - name: Install dependencies
        run: yarn

      # Прогон тестов
      - name: Run tests
        run: yarn test

      # Прогон линтера
      - name: Run Standard rules linter
        id: lint
        run: |
          set +e
          OUTPUT=$(npx eslint . --ext .js || true)
          echo "$OUTPUT"
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$OUTPUT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      # Комментарий в ПР или в консоль workflow
      - name: Comment lint result
        uses: actions/github-script@v7
        with:
          script: |
            PR_NUMBER=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")

            curl --user "$BOT_USERNAME:$BOT_TOKEN" \
              --request POST \
              --url "https://api.github.com/repos/$REPOSITORY/issues/$PR_NUMBER/comments" \
              --header "content-type: application/json" \
              --data "{
                \"body\": \"$LINT_RESULT\"
              }"

        env:
          LINT_RESULT: ${{ steps.lint.outputs.result }}
          BOT_USERNAME: ${{ secrets.BOT_USERNAME }}
          BOT_TOKEN: ${{ secrets.GH_TOKEN }}
          REPOSITORY: ${{ github.repository }}

      # Блокировка ПР при наличии линтовых ошибок
      - name: Block PR if find errors
        run: |
          if echo "$LINT_RESULT" | grep -q "error"; then
          echo "ПР заблокирован из-за наличия линтовых ошибок"
          exit 1
          fi

        env:
          LINT_RESULT: ${{ steps.lint.outputs.result }}

