name: Post push check

on:
  push

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      # Переключение на выбранную при запуске action ветку и скачивание файлов в окружение.
      - name: Checkout
        uses: actions/checkout@v3

      # Установка зависимостей.
      - name: Install dependencies
        run: yarn

      # Прогон тестов
      - name: Run tests
        run: yarn test

      - name: Run Standard rules linter
        id: lint
        run: |
          set +e
          OUTPUT=$(npx eslint . --ext .js || true)
          echo "$OUTPUT"
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$OUTPUT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

          if echo "$OUTPUT" | grep -q "error"; then
          echo "ПР заблокирован из-за наличия линтовых ошибок"
          exit 1
          fi

      - name: Comment ESLint result
        uses: actions/github-script@v7
        with:
          script: |
            const commentBody = process.env.LINT_RESULT
            console.log('commentBody', commentBody)
            const { owner, repo } = context.repo

            console.log('owner', owner)
            console.log('repo', repo)


            // refs/heads/branchName
            const branch = (process.env.GITHUB_REF || '').replace('refs/heads/', '');
            console.log('branch', branch)

            if (!branch) {
              console.log('Не удалось определить ветку, вывод линта:');
              console.log(commentBody);
              return;
            }

            const prs = await github.rest.pulls.list({
              owner,
              repo,
              head: `${owner}:${branch}`,
              state: 'open'
            })
            console.log('prs', prs)
            const pr = prs.data[0]

            if (!pr) {
              console.log('PR не найден, вывод линта:');
              console.log(commentBody)
              return
            }

        env:
          LINT_RESULT: ${{ steps.lint.outputs.result }}

      # Выпуск beta версии библиотеки, если в commit message есть вхождение строки "deploy_beta"
      - name: Publish beta version
        if: "contains(github.event.head_commit.message, 'deploy_beta')"
        run: |
          CURRENT_VERSION=$(grep -o '"version": "[^"]*' package.json | awk -F'"' '{print $4}')
          export TAG="beta"
          export VERSION="$CURRENT_VERSION-beta-$(git rev-parse --short HEAD)"

          echo "//registry.npmjs.org/:_authToken=$TOKEN" > .npmrc

          yarn release

          echo "### Выпущена новая версия библиотеки: $VERSION" >> $GITHUB_STEP_SUMMARY
        env:
          TOKEN: ${{ secrets.NPM_TOKEN }}

