name: Release

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:

      # Переключение на выбранную при запуске action ветку и скачивание файлов в окружение.
      - name: Checkout
        uses: actions/checkout@v3

      # Установка учётных данных bot как gitUser в текущем окружении (для release commit).
      # Извлечение имени текущей ветки.
      # Извлечение sha последнего commit из выбранной ветки (нужно для построения версии beta).
      - name: Git config
        run: |
          git config user.name ${{ secrets.BOT_USERNAME }}
          git config user.email ${{ secrets.BOT_EMAIL }}
          echo "branch=main" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        id: branch

      # Установка зависимостей.
      - name: Install dependencies
        run: yarn install

      # Обновление поля version в package.json.
      - name: Update package.json version
        run: |
          VERSION=$(jq -r '.release.tag_name' "$GITHUB_EVENT_PATH")
          npm version "$VERSION" --no-git-tag-version

      # Сборка приложения в /.publish.
      - name: Build app
        run: yarn build

      # Установка npm токена для возможности публикации.
      - name: Set npm token
        uses: filipstefansson/set-npm-token-action@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}

      # Публикация выбранной версии в npm.
      - name: Publish ${{ github.event.inputs.version }} version
        run: |
          CURRENT_VERSION=$(jq -r '.version' package.json)

          export TAG="latest"
          export VERSION="$CURRENT_VERSION"

          yarn release
        env:
          BRANCH: ${{ steps.branch.outputs.branch }}

      # Заполнение файла changelog и выполнение release commit && push в релизную ветку.
      - name: Fill changelog file and create release branch
        id: changelog
        run: |
          export VERSION=$(jq -r '.release.tag_name' "$GITHUB_EVENT_PATH")
          export RELEASE_BRANCH="release-$VERSION"
          export MESSAGE="Релиз версии $VERSION"

          echo "RELEASE_BRANCH=$RELEASE_BRANCH" >> $GITHUB_OUTPUT
          echo "MESSAGE=$MESSAGE" >> $GITHUB_OUTPUT
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

          yarn changelog

          git checkout -b "$RELEASE_BRANCH"
          git commit -m "$MESSAGE" package.json CHANGELOG.md
          git push --set-upstream origin "$RELEASE_BRANCH"
        env:
          BRANCH: ${{ steps.branch.outputs.branch }}
          LAST_COMMIT_URL: https://github.com/${{ github.repository }}/commit/${{ steps.branch.outputs.sha_short }}
          SHA_SHORT: ${{ steps.branch.outputs.sha_short }}
          BOT_TOKEN: ${{ secrets.BOT_AUTH_TOKEN }}
          REPOSITORY: ${{ github.repository }}

      # Создание pull request из релизной ветки в целевую.
      - name: Create release pull request from ${{ steps.changelog.outputs.RELEASE_BRANCH }} to ${{ steps.branch.outputs.branch }}
        run: |
          curl --user "$BOT_USERNAME:$BOT_TOKEN" \
             --request POST \
             --url "https://api.github.com/repos/$REPOSITORY/pulls" \
             --header "content-type: application/json" \
             --data "{
               \"title\": \"$TITLE\",
               \"head\": \"$HEAD\",
               \"base\": \"$BASE\",
               \"body\": \"$BODY\"
               }"
        env:
          BOT_USERNAME: ${{ secrets.BOT_USERNAME }}
          REPOSITORY: ${{ github.repository }}
          BOT_TOKEN: ${{ secrets.GH_TOKEN }}
          TITLE: ${{ steps.changelog.outputs.MESSAGE }}
          BODY: Этот PR создан автоматически, после публикации версии ${{ steps.changelog.outputs.VERSION }} библиотеки в npm.
          HEAD: ${{ steps.changelog.outputs.RELEASE_BRANCH }}
          BASE: ${{ steps.branch.outputs.branch }}
